- title artist.name
.info.row
  .large-8.columns
    .row
      = attachment_image_tag artist, :image_file
    .row
      %h1= artist.name
    .row
      = simple_format artist.description
  .large-4.columns
    - if artist.links.present?
      .row
        %h3 Links
        %ul.links
          - artist.links.each do |link, href|
            %li
              = link_to href, title: "#{artist.name} on #{link.titleize}", class: 'secondary button' do
                = icon icon_for(link)
                &nbsp;
                = link.titleize
    .performances.row
      .large-12.columns
        %h2= t :performances, scope: :episodes
        %ul.performances
          - artist.performances.each do |performance|
            %li.row
              = link_to episode_performance_path(performance.episode, performance), title: performance.name do
                .large-4.columns
                  = attachment_image_tag performance.episode, :flyer_file
                .large-8.columns
                  %h5= performance.episode.name
:coffeescript
  fbq 'track', 'ViewContent'
