%fieldset
  %legend= current_title
  - params_to_permit.each do |field|
    - if field.is_a? Hash
      %fieldset
        %legend= association(field).to_s.titleize
        = f.fields_for association(field) do |ff|
          - field.values.first.each do |nested_field|
            = render 'input', f: ff, field: nested_field
          = ff.link_to_remove 'Remove', class: 'tiny alert button'
        = f.link_to_add 'Add', association(field), class: 'tiny button'
    - else
      = render 'input', f: f, field: field

