- cache episode do
  - cache [episode, :title] do
    = render 'title', episode_title: episode_title
    - if episode.has_video?
      = render 'video', episode: episode
    - else
      = episode.flyer
  .row
    - cache [episode, :info] do
      .large-8.columns
        .info.row
          .name.row
            .large-12.columns
              %h3= episode.title
              %br
          .description.row
            .large-8.columns
              = simple_format episode.description
    - cache [episode, :navigation] do
      .large-4.columns
        .row
          .large-12.columns
            .actions
              %ul{ style: 'list-style-type: none' }
                - if episode.has_audio?
                  %li.audio
                    = link_to episode.audio, class: 'secondary button' do
                      = icon :music
                      &nbsp;
                      = t :audio, scope: :episodes
                - unless episode.future?
                  %li.video
                    = link_to episode.youtube_url, class: 'alert button', target: '_blank' do
                      = icon :youtube
                      &nbsp;
                      = t :video, scope: :episodes
                - if episode.show_ticket_link?
                  %li.eventbrite
                    = link_to episode.eventbrite_url, class: 'success button', target: '_blank' do
                      = icon :ticket
                      &nbsp;
                      = t :tickets, scope: :episodes
                - if episode.show_facebook_event?
                  %li.facebook
                    = link_to episode.facebook_url, class: 'button', target: '_blank' do
                      = icon :facebook
                      &nbsp;
                      = t :share, scope: :episodes
                - if episode.show_mixcloud_link?
                  %li.mixcloud
                    = link_to episode.mixcloud_url, class: 'info button', target: '_blank' do
                      = t :mixcloud, scope: :episodes
        - cache [episode, :lineup] do
          - if episode.future?
            .artists.row
              .large-12.columns
                %h4= t :lineup, scope: :episodes
                %ul
                  - episode.artists.each do |artist|
                    %li.row
                      = link_to artist, title: artist.name do
                        .large-4.columns
                          = image_tag artist.image_url
                        .large-8.columns
                          %h5= artist.name
          - else
            .performances.row
              .large-12.columns
                %h2= t :performances, scope: :episodes
                %ul.performances
                  - episode.performances.each do |performance|
                    %li.row
                      = link_to episode_performance_path(episode, performance), title: performance.title do
                        .large-4.columns
                          = performance.artist.decorate.image
                        .large-8.columns
                          %h5= performance.artist_name
