%ul{ style: 'list-style-type: none' }
  - if episode.has_audio?
    %li
      = link_to episode_path(episode, format: 'mp3'), class: 'tiny secondary button' do
        = t :audio, scope: :episodes
  - if episode.has_video?
    %li
      = link_to episode_path(episode, format: 'flv'), class: 'tiny secondary button' do
        = t :video, scope: :episodes
  - if episode.future?
    %li
      = link_to episode.eventbrite_url, class: 'tiny success button', target: '_blank' do
        = t :tickets, scope: :episodes
    %li
      = link_to episode.facebook_url, class: 'tiny button', target: '_blank' do
        = t :share, scope: :episodes
