.actions
  %ul{ style: 'list-style-type: none' }
    - if episode.has_audio?
      %li.audio
        = link_to episode.audio_url, class: 'secondary button' do
          = icon :music
          &nbsp;
          = t :audio, scope: :episodes
    - if episode.video_recording.present?
      %li.video
        = link_to episode.video_url, class: 'secondary button' do
          = icon 'video-camera'
          &nbsp;
          = t :video, scope: :episodes
    - if episode.show_ticket_link?
      %li.eventbrite
        = link_to episode.eventbrite_url, class: 'success button', target: '_blank' do
          = icon :ticket
          &nbsp;
          = t :tickets, scope: :episodes
    - if episode.show_facebook_event?
      %li.facebook
        = link_to episode.facebook_url, class: 'button', target: '_blank' do
          = icon :facebook
          &nbsp;
          = t :share, scope: :episodes
    - if episode.show_mixcloud_link?
      %li.mixcloud
        = link_to episode.mixcloud_url, class: 'info button', target: '_blank' do
          = t :mixcloud, scope: :episodes
