#current_episode.episode
  .title.row
    %h2= episode.current_title
  = render 'video', episode: episode if episode.has_video?
  .info.row
    .name.row
      .large-12.columns
        %h3= episode.title
        %br
    .description.row
      .large-8.columns
        = simple_format episode.description
        %h4= t :lineup, scope: :episodes
        %ul.artists
          - episode.artists.each do |artist|
            %li= link_to artist.name, artist
      .large-4.columns
        = render 'navigation', episode: episode

