#episode.episode.row
  .large-8.columns
    .title.row
      %h2= episode.title
    = render 'video', episode: episode if episode.has_video?
    .info.row
      .name.row
        .large-4.columns
          %time= episode.starts_at.to_date
        .large-6.columns
          = render 'navigation', episode: episode
      .description.row
        .large-12.columns
          = episode.description
  .large-4.columns
    - cache episode.performances do
      .performances.row
        .row
          .large-12.columns
            %h3= t :performances, scope: :episodes
        .row
          - episode.performances.each do |performance|
            %ul
              - cache performance, summary: true do
                = render 'performance', performance: performance
%br
