= simple_form_for subscriber, class: 'new-subscriber', remote: true do |f|
  .fields
    = f.input :name
    = f.input :email, required: true
  .controls
    = f.button :submit, value: 'Subscribe', class: 'button'
    = link_to t('.cancel'), url_for(:back), class: 'close secondary button'
