= link_to '&times;'.html_safe, '#', class: 'close-reveal-modal' if request.xhr?
.title.row
  .large-12.columns
    %h1= t '.title'
    %p= t '.content'
.form.row
  .large-12.columns
    = simple_form_for @subscriber, class: 'new-subscriber', remote: true do |f|
      .fields
        = f.input :name
        = f.input :email, required: true
      .controls
        = f.button :submit, value: 'Subscribe', class: 'button'
        = link_to t('.cancel'), url_for(:back), class: 'close secondary button'
