- title 'Episodes'

.large-8.columns
  %table
    %thead
      %tr
        %th Name
        %th Date
        %th.new= link_to 'New', admin_episodes_path, class: 'tiny button', remote: true
    %tbody
      - cache "admin/episodes/index" do
        - episodes.each do |episode|
          - cache "admin/episodes/#{episode.id}" do
            %tr{ itemid: episode.id }
              %td.edit= link_to episode.name, edit_admin_episode_path(episode), remote: true
              %td= episode.decorate.date
              %td.destroy= link_to 'Destroy', admin_episodes_path(episode), method: :delete, remote: true, class: 'tiny alert button', confirm: "Are you sure you want to delete the episode '#{episode.name}'?"
.large-4.columns
  #editor
    / This is where all forms that are edited will go
