- title 'Episodes'

%table
  %thead
    %tr
      %th Name
      %th Date
      %th.new= link_to_modal 'New', admin_episodes_path, class: 'tiny button'
  %tbody
    - cache "admin/episodes/index" do
      - episodes.each do |episode|
        - cache "admin/episodes/#{episode.id}" do
          %tr{ itemid: episode.id }
            %td= link_to_modal episode.name, edit_admin_episode_path(episode), class: 'tiny secondary button'
            %td= episode.decorate.date
            %td.destroy= link_to 'Destroy', admin_episodes_path(episode), method: :delete, remote: true, class: 'tiny alert button'

