!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = title_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.admin
    %header
      %nav.topbar{ 'data-topbar' => true }
        %ul.title-area
          %li.name
            %h1= link_to Rails.env, admin_path
        %section.top-bar-section
          %ul
            = nav_link 'Artists',   admin_artists_path
            = nav_link 'Episodes',  admin_episodes_path
            = nav_link 'Users',     admin_users_path
        %section.top-bar-section
          %ul.right
            = nav_link current_user.login, [:admin, current_user]
      %h1= page_title
    %main{ id: page_name, class: section_name }
      = yield
    %footer.admin
      %nav
        %li= link_to 'Back To Main Site', root_path
