!!!
%html{lang: I18n.locale}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= page_title
    = stylesheet_link_tag    "admin"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#admin
    %header
      %nav.top-bar{ 'data-topbar' => true }
        %ul.title-area
          %li.name
            %h1= link_to "#{config.name} (#{Rails.env})", admin_root_path
        %section.top-bar-section
          %ul
            - cache do
              - models.each do |model_class|
                = admin_nav_item model_class.table_name
        %section.top-bar-section
          %ul.right
            = nav_link t(:login, scope: 'layouts.admin.navigation', name: current_user.name).html_safe, [:admin, current_user]
            = nav_item :logout, destroy_user_session_path
      #title.row
        .large-12.columns
          %h1= current_title
      #flash.row
        .large-12.columns
          - flash.each do |type, message|
            %div{ class: "alert-box #{type}", data: { alert: true } }
              = message
              = link_to '&times;', '#', class: 'close'
    %main{ id: controller_name }
      %section{ class: action_name }
        = yield
    %footer
      .row
        .large-12.columns
          %h4= link_to 'Back To Main Site', root_path
    #dialog.reveal-modal{ data: { reveal: true }, 'aria-labelledby' => 'Dialog', 'aria-hidden' => 'true', role: 'dialog' }
      / Dialog content goes here

