!!!
%html{lang: I18n.locale.to_s}
  %head
    %link{ rel: 'canonical', href: 'http://brother.ly' }
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %meta{name: 'description', content: config.description}
    %meta{name: 'keywords', content: config.keywords.join(", ")}
    = title_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'modernizr', 'application', media: 'all'
    = csrf_meta_tags
    = favicon_link_tag
    = auto_discovery_link_tag :rss, episodes_path(format: 'rss'), title: 'brother.ly podcast'
    = og :title, (page_title || app_title)
    = og :type, 'website'
    = og :image, image_url('logo.png')
    = og :url, 'http://brother.ly'
    %meta{ property: "fb:admins", content: "1473930052" }
    %meta{ name: 'twitter:card', content: 'summary_large_image' }
    %meta{ name: 'twitter:site', content: '@brotherlyparty' }
    %meta{ name: 'twitter:creator', content: '@brotherlyparty' }
    %meta{ name: 'twitter:title', content: 'brother.ly' }
    %meta{ name: 'twitter:description', content: config.description }
    %meta{ name: 'twitter:image', content: image_url('logo.png') }
    = render 'pingdom_rum' if Rails.application.secrets.pingdom_rum_id.present?
  %body{ class: section_name }
    = render 'tags' if Rails.env.production?
    %header
      - cache 'header/navigation', expires_in: 1.year do
        %nav.top-bar{ 'data-topbar' => true }
          %ul.title-area
            %li.name
              %h1= link_to config.name, root_path, class: 'logo'

          %section.top-bar-section#search.search
            %ul
              %li.has-dropdown
                = simple_form_for search, url: search_path, method: :get, remote: true, id: 'search_form' do |f|
                  = f.input :query, as: :search, label: false, placeholder: 'Search...', input_html: { autocomplete: 'off' }
                %ul.dropdown.results{ style: 'margin-top: 10px' }
                  / Search results go here
          %section.top-bar-section.links
            %ul.right
              = nav_link current_episode.button_title, root_path
              = nav_link t(:past_episode, scope: :nav), episodes_path
              = nav_link t(:artists, scope: :nav), artists_path
              = nav_link subscribe_text, new_subscriber_path, modal: true
      #flash.flash.row
        .large-12.columns
          - flash.each do |type, message|
            %div{ class: "alert-box #{type}", data: { alert: true  } }
              = message
              = link_to '&times;'.html_safe, '#', class: 'close'
    %main{ class: page_name }
      .messages.row
        = render 'flash'
      .content.row
        = yield
      .modal.row
        #dialog.dialog.reveal-modal{ data: { reveal: true }, 'aria-labelledby' => 'Dialog', 'aria-hidden' => 'true', role: 'dialog' }
          / Dialog content goes here
    %footer
      .row
        - cache 'footer/copyright' do
          .copyright.large-4.columns
            %h3= t :about, scope: :footer
            %p
              = t :copyright, scope: :footer
              &copy; #{copyright_year}
              #{link_to "Wax Poetic Music", 'http://waxpoeticrecords.com'}.
              %br
            Created by <strong>team brother.ly</strong> in Philadelphia.
        - cache [recent_episodes, :list] do
          .recent.large-4.columns
            %h3= t :recent, scope: :episodes
            %ul
            - recent_episodes.each do |episode|
              %li= link_to episode.name, episode
        - cache 'social' do
          .social.large-4.columns
            %h3= t '.social'
            %ul
              %li
                = link_to 'https://facebook.com/brotherlyparty' do
                  = icon :facebook
                  = t '.facebook'
              %li
                = link_to 'https://twitter.com/brotherlyparty' do
                  = icon :twitter
                  = t '.twitter'
              %li
                = link_to 'http://bit.ly/brotherly-youtube' do
                  = icon :youtube
                  = t '.youtube'
              %li
                = link_to 'http://instagram.com/brother.ly' do
                  = icon :instagram
                  = t '.instagram'
    - cache 'tracking' do
      = render 'tracking'
