!!!
%html{:lang => "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %meta{name: 'description', content: config.description}
    %meta{name: 'keywords', content: config.keywords}
    = title_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.frontend
    %header
      - cache 'header/navigation', expires_in: 1.year do
        %nav.top-bar{ 'data-topbar' => true }
          %ul.title-area
            %li.name
              %h1= link_to config.name, root_path

          %section.top-bar-section#search
            %ul
              %li.has-dropdown
                = simple_form_for search, url: search_path, method: :get, remote: true, id: 'search_form' do |f|
                  = f.input :query, as: :search, label: false, placeholder: 'Search...', input_html: { autocomplete: 'off' }
                %ul.dropdown.results{ style: 'margin-top: 10px' }
                  / Search results go here
          %section.top-bar-section#links
            %ul.right
              %li= nav_link t(:next_episode, scope: :nav), root_path
              %li= nav_link t(:past_episode, scope: :nav), episodes_path
              %li= nav_link t(:artists, scope: :nav), artists_path
    %main{ id: page_name, class: section_name }
      = render 'main'
    %footer
      .row
        - cache 'footer/copyright', expires_in: 1.year do
          .copyright.large-4.columns
            %h3= t :about, scope: :footer
            %p
              = t :copyright, scope: :footer
              &copy; #{copyright_year}
              #{link_to "Wax Poetic Music", 'http://waxpoeticrecords.com'}.
              %br
            Created by <strong>team brother.ly</strong> in Philadelphia.
        - cache 'footer/recent_episodes', expires_in: 1.month do
          .recent.large-4.columns
            %h3= t :recent, scope: :episodes
            %ul
            - recent_episodes.each do |episode|
              %li= link_to episode.name, episode
        - cache 'footer/upcoming_episodes', expires_in: 1.month do
          .upcoming.large-4.columns
            %h3= t :upcoming, scope: :episodes
            %ul
            - upcoming_episodes.limit(5).each do |episode|
              %li= link_to episode.name, episode
