!!!
%html{lang: I18n.locale.to_s}
  %head
    = render 'metadata'
    = title_tag
    = stylesheet_link_tag asset_url('application.css', host: Rails.configuration.action_controller.asset_host)
    = favicon_link_tag asset_url('favicon.ico', host: Rails.configuration.action_controller.asset_host)
    = auto_discovery_link_tag :rss, episodes_path(format: 'rss'), title: 'brother.ly podcast'
    = action_cable_meta_tag
    = javascript_include_tag asset_url('modernizr.js', host: Rails.configuration.action_controller.asset_host)
    = render 'pingdom_rum' if Rails.application.secrets.pingdom_rum_id.present?
  %body{ class: section_name }
    = render 'tags' if Rails.env.production?
    %header
      %nav.top-bar{ 'data-topbar' => true }
        %ul.title-area
          %li.name
            %h1= link_to config.name, root_path, class: 'logo'

        %section.top-bar-section#search.search
          %ul
            %li.has-dropdown
              = simple_form_for search, url: search_path, method: :get, remote: true, id: 'search_form' do |f|
                = f.input :query, as: :search, label: false, placeholder: 'Search...', input_html: { autocomplete: 'off' }
              %ul.dropdown.results{ style: 'margin-top: 10px' }
                / Search results go here
        %section.top-bar-section.links
          %ul.right
            - cache [recent_episodes, :current] do
              = nav_link current_episode.button_title, root_path
            = nav_link t(:past_episode, scope: :nav), episodes_path
            = nav_link t(:artists, scope: :nav), artists_path
            = nav_link subscribe_text, new_subscriber_path, modal: true
      #flash
        - flash.each do |type, message|
          .message{ class: type }
            %p= message
            %nav
              %a.close{ href: '#', title: 'Close' } &times;
    %main{ class: page_name }
      .messages.row
        = render 'flash'
      .content.row
        = yield
      .modal.row
        #dialog.dialog.reveal-modal{ data: { reveal: true }, 'aria-labelledby' => 'Dialog', 'aria-hidden' => 'true', role: 'dialog' }
          / Dialog content goes here
    %footer
      .row
        .copyright.large-4.columns
          %h3= t :about, scope: :footer
          %p
            = t :copyright, scope: :footer
            &copy; #{copyright_year}
            #{link_to "Wax Poetic Music", 'http://waxpoeticrecords.com'}.
            %br
          Created by <strong>team brother.ly</strong> in Philadelphia.
        - cache [recent_episodes, :list] do
          .recent.large-4.columns
            %h3= t :recent, scope: :episodes
            %ul
            - recent_episodes.each do |episode|
              %li= link_to episode.name, episode
        .social.large-4.columns
          %h3= t '.social'
          %ul
            %li
              = link_to 'https://facebook.com/brotherlyparty' do
                = icon :facebook
                = t '.facebook'
            %li
              = link_to 'https://twitter.com/brotherlyparty' do
                = icon :twitter
                = t '.twitter'
            %li
              = link_to 'http://bit.ly/brotherly-youtube' do
                = icon :youtube
                = t '.youtube'
            %li
              = link_to 'http://instagram.com/brother.ly' do
                = icon :instagram
                = t '.instagram'
            %li
              = link_to 'http://github.com/waxpoetic/brotherly/issues/new' do
                = icon :github
                = t '.github'
    = render 'tracking'
    = javascript_include_tag asset_url('application.js', host: Rails.configuration.action_controller.asset_host)
