!!!
%html{:lang => "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %meta{name: 'description', content: config.description}
    %meta{name: 'keywords', content: config.keywords.join(", ")}
    = title_tag
    = stylesheet_link_tag    "brotherly"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    = auto_discovery_link_tag :rss, episodes_path(format: 'rss'), title: 'brother.ly podcast'
  %body.frontend
    %header
      - cache 'header/navigation', expires_in: 1.year do
        %nav.top-bar{ 'data-topbar' => true }
          %ul.title-area
            %li#title.name
              %h1= link_to config.name, root_path

          %section.top-bar-section#search
            %ul
              %li.has-dropdown
                = simple_form_for search, url: search_path, method: :get, remote: true, id: 'search_form' do |f|
                  = f.input :query, as: :search, label: false, placeholder: 'Search...', input_html: { autocomplete: 'off' }
                %ul.dropdown.results{ style: 'margin-top: 10px' }
                  / Search results go here
          %section.top-bar-section#links
            %ul.right
              = nav_link t(:next_episode, scope: :nav), root_path
              = nav_link t(:past_episode, scope: :nav), episodes_path
              = nav_link t(:artists, scope: :nav), artists_path
              - unless session[:subscriber].present?
                %li
                  = link_to_modal t(:subscribe, scope: :nav), new_subscriber_path
    %main{ class: page_name, id: section_name }
      .messages.row
        = render 'flash'
      .content.row
        = yield
      .modal.row
        #dialog.reveal-modal{ data: { reveal: true }, 'aria-labelledby' => 'Dialog', 'aria-hidden' => 'true', role: 'dialog' }
          / Dialog content goes here
    %footer
      .row
        - cache 'footer/copyright' do
          .copyright.large-4.columns
            %h3= t :about, scope: :footer
            %p
              = t :copyright, scope: :footer
              &copy; #{copyright_year}
              #{link_to "Wax Poetic Music", 'http://waxpoeticrecords.com'}.
              %br
            Created by <strong>team brother.ly</strong> in Philadelphia.
        - cache latest_cache_key('recent_episodes') do
          .recent.large-4.columns
            %h3= t :recent, scope: :episodes
            %ul
            - recent_episodes.each do |episode|
              %li= link_to episode.name, episode
        - cache latest_cache_key('upcoming_episodes') do
          .upcoming.large-4.columns
            %h3= t :upcoming, scope: :episodes
            %ul
            - upcoming_episodes.limit(5).each do |episode|
              %li= link_to episode.name, episode
    - cache 'tracking' do
      = render 'tracking'
