!!!
%html{:lang => "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %meta{name: 'description', content: config.description}
    %meta{name: 'keywords', content: config.keywords}
    = title_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.frontend
    %header
      %nav.top-bar{ 'data-topbar' => true }
        %ul.title-area
          %li.name
            %h1= link_to 'brother.ly', root_path
        %section.top-bar-section
          %ul.right
            %li= nav_link 'Next Episode', root_path
            %li= nav_link 'Past Episodes', episodes_path
            %li= nav_link 'Artists', artists_path

    %main{ id: page_name, class: section_name }
      = yield

    %footer
      %p.copyright
        Copyright &copy; 2015
        = link_to 'Wax Poetic Music', 'http://waxpoeticrecords.com'
